<p id="notice"><%= notice %></p>
<h1> Profile <hr /></h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <strong>Micropost:</strong>
<ul>
  <% @user.microposts.each do |mp| %>
  <li><%= mp.content %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
